
<div class="welcomebody">

<h1>Welcome to Metacog!</h1>

<p>Metacognition is the ability to make judgments about our own thoughts. Strengthening your metacognition increases your awareness and understanding of your thinking process.</p>

<p>Metacog is a web application that allows users to easily record their daily feelings at the end of a work day. It captures data about the user's mood and perceived reasons for that mood in order to gain a better long-term understanding of job satisfaction.</p>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
