<h1>Sessions#new</h1>

<h1>Sign In</h1>

<%= render 'common/flash' %>

 <%= form_for :session, url: sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Sign in', id: 'signin' %>
 <% end %>
